.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#the{
  background-color: blue;
}
#this{
  margin-left: 15%;
  font-size:14px;
}
#stop{
  margin-left: 35%;
}
#you {
  margin-top: 10%;
}
#gun{
color:orange;
}
#of{
  margin-left: 46%;
}
#fit{
  color: black;
 
}
#ask{
  color:gray;
  font-size:15px;
}
#is{
  color:gray;
  font-size:15px;
}
#yum{
  padding: 5px;
  margin-top: 10%;
}
.let{
  border: 1px solid;
  width: 15%;
  border-color: blue;
}
#bat{
  color:red;
}
#cat{
  font-size: 80px;
  margin-left: 50%;
}
#at{
  margin-left: 40%;
}
#hit{
  margin-top:20px;

}
#god{
  margin-top: 20px;
  height:250px;
}
#get{
  border: 2px solid;
  height: 90px;
  margin-top: 5px;
}
#git{
  border: 2px solid;
  height: 90px;
  margin-top:5px;
}
#build{
    border: 3px solid;
    height: 250px;
    margin-top: 10px;
  color: blue;
}
#we{
  margin-top: 20px;
}
#pet{
  margin-top: 20px;
  background-color: rgb(25, 25, 192);
}
#with{
  margin-top: 30px;
  margin-right: 35%;
}
#user{
  margin-right:35%;
}
#ssl{
  border: 3px solid;
    height: 250px;
    margin-top: 10px;
  color: blue;
}
#rate{
  border: 1px solid;
  height: 250px;
    margin-top: 10px;
  background-color:rgb(213, 235, 180);
  border-color: rgb(135, 169, 83);
}
#our{
  border: 1px solid;
    height: 250px;
    margin-top: 10px;
  background-color:rgb(252, 237, 239);
  border-color:rgb(225, 140, 151);
}
#work{
  margin-top: 20px;
}
#what{
  background-color: rgb(208, 208, 224);
}
#where{
  padding-top: 35px;
}
.feb{
  font-size: 30px;
}
#were{
  width:100%;
			height:250px;
			background-color:lightgray;
			animation-name:color;
			animation-duration:12s;
			animation-iteration-count:infinite;
		}
		@keyframes color{
	       0%{background-color:lightblue; left: 0px; top: 0px;}

	       25%{background-color:lightgreen; left: 100px; top: 0px;}

	       50%{background-color:lightpink; left:  100px; top:  100px;}

	       75%{background-color:lightskyblue; left:  0px; top:  100px;}

	       }
#work{
  border-radius:30px;
}
#dell{
  margin-top: 10%;
}
#kit{
  margin-top: 5%;
}
.data{
  font-size:30px;
}
#life{
  margin-top: 20px;
  border-radius: 5px;
  background-color: pink;
}
#more{
  margin-top: 5px;
  border-radius: 5px;
  background-color:skyblue;
}
#that{
  border-radius:50%;
}
#don{
  font-size: 30px;
}
#bat{
  border-radius: 30px;
  background-color:rgb(33, 182, 241);
  color: white;
}
#help{
  background-color:pink;
  border-radius: 30px;
  width: 100%;
  height: 150px;
}
#vivo{
  background-color:#61dafb;
  border-radius: 30px;
  width: 100%;
  height: 150px;
}
#sit{
  background-color:yellow;
  border-radius: 30px;
  width: 100%;
  height: 150px;
}
#sorry{
  padding-top: 25px;
  border: 3px dashed;
  border-color:skyblue;
  border-radius: 30px;
  height: 160px;
}
#use{
  padding-top: 25px;
  border: 3px dashed;
  border-color:pink;
  border-radius: 30px;
  height: 160px;
}
#bit{
  border: 3px dashed;
  padding-top: 25px;
  border-color:yellow;
  border-radius: 30px;
  height: 160px;
}
.did{
  padding:10px;
  font-size: 35px;
}
#bags{
  margin-top:5%;
}
.always{
  border: 4px solid;
  border-radius: 40px;
  border-color:rgb(124, 65, 23);
}
#math{
  margin-top: 20px;
}
#window{
  margin-top:30px;
}
#an{
  width:55%;
  border:1px solid black;
 
}
.title  

{  

        margin-bottom: 20px;  

        padding:20px  

}  

.img  

{  

        height:80px;
        width:80%;  

}
.cc{
  background-color: #282c34;
} 
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right:0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #322d2d;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
 span {
    font-size: 40px;    
    position: relative;
    top: -5px;
} 
.owl-nav button:focus {
    outline: none;
}
#all{
  background-color:#2c78ff;
}
.very{
  background-image:linear-gradient(black, #58151c);
}
.zoom {
  transition:transform .2s; 
  width:300px;
  height:140px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}
.pit{
  background-color:orange;
  width:88%;
  height:90px;
  text-align:center;
}
#moon{
  background-color:rgb(244, 235, 235);
  border-radius:30px;
  box-shadow: 10px 10px 5px  gray;
   margin:auto; 
  margin-left:5px;
  height:200px;
  padding:5px;
  width:350px;
  padding-top: 2%;
  text-align: center;
}
#monkey{
    background-color: #282c34;
    height:350px;
    padding-top:2%;
    border-radius:5px;
    box-shadow: 9px 9px 5px gray;
}
#cafe{
  background-color:rgb(239, 234, 234);
}
#not{
  text-indent:28px;
}
.nandu{
  background-color:rgb(250, 245, 246);
  border-radius: 50px 5px 5px 5px;;
}
#high{
  color: #533ff5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#empty{ 
  color: grey;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:15px; */
}
.fight{
  background-color:#533ff5;
  height:130px;
}
#many{
  background-color:rgb(52, 3, 97);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px 5px 5px 5px; 
  /* border-radius:15px 50px;
  width:100%;
  height: 400px; */
  color:#fff;
}
@media screen and (max-width:500px) {
  #mob{
     width:111%;
     height: 330px;
  }
} 
  body{
   overflow-x: hidden;
  
}
@media screen  and (max-width:700px){
  #water{
  padding-inline-end:1px;
   text-indent: 0cqmax;
  }
}
.nandini{
  margin-top:2%;
  padding:0%;
 border-radius:35px;
 height:70px;
}
#Dad{
  border-radius:20px;
  margin-top:2%;
}
#prop{
  border-radius:20px;
}
#active{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:15px;
}
#xero{
 font-family: Arial, Helvetica, sans-serif;
 font-size:40px;
}
@media screen  and (max-width:400px){
  #screen{
    padding-bottom:80px;
  }
  
}
.bad{
  padding-top:3%;
}
.after{
  font-weight: bolder;
  font-size:70px;
  font-family: Arial, Helvetica, sans-serif;
}
.zip-in-out-box:hover {
  /* margin: 24px;
  width: 50px;
  height: 50px; */
   animation: zoom-in-zoom-out 1s ease infinite; 
}
.zip-in-out-box{
  margin:24px;
  width: 50px;
  height: 50px;
}
 @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
} 
.hit{
  padding-top:7%;
}
#tom{
  margin-top:30%; 
}
#mirror{
  font-size:20px;
  padding:10px;
}
#quote{
  background-color: #6052c1;
  height:250px;
}
#spot{
  color: #282c34;
}
.ask{
  background-color:black ;
}
#jerry{
  background-color:rgb(154, 220, 20);
}
#touch{
  background-color: #000;
}
#for{
  color: yellow;
  font-size:60px;
 font-weight: 100;
}
#us{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:30px;
}
#ipl{
 border: 1px solid white;
 margin-left:35%;
 width:20%;
}
#ipl:hover{
  border: 2px solid yellow;
  box-shadow:5px 10px 18px yellow; 
}
#year{
  border: 1px solid rgb(154, 220, 20);
  border-radius:90%;
  width:90%;
  height: 150px;
   font-weight: 700;
  font-weight: bold;
  text-align: center;
}
.work{
  padding-top:20%;
  color:yellowgreen;
}
#pit{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: yellowgreen; 
}
#name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90px;
  font-weight: 100;
}
#with{
  border:2px solid white;
 width:33%;
}
#with:hover{
  border: 2px solid yellow;
  box-shadow:5px 10px 18px yellow;
}
#fa{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#can{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-weight: bold; 
}
#case{
  opacity:0.7;
  
}
#case:hover{
  opacity:1.0;
}
#web{
  margin-left:43%;
  background-color:white;
  color: #4d40ab;
}
#them{
  font-size:40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gray;
}
#sare{
  font-size:40px;
 font-weight: 600;
}
#roted{
  opacity:0.3;
}
#team{
  font-family: "Nunito Sans" , sans-serif;
  font-size:40px;
  font-size: 35px;
}
#in{
  border: 2px solid blueviolet;
  border-radius: 20px;
  color: white;
}
#in:hover{
  color:blueviolet;
}
#water{
  border: 2px solid blueviolet;
  border-radius: 20px;

  color: white;
}
#market{
  background-color: rgba(36, 39, 44, 1.0);
  /* border:1px solid #282c34; */
border-radius: 12px;
color: #fafafa;
font-size: 11px;
font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 100;
}
#bring{
  /* border: 2px solid blueviolet;
  border-radius: 20px;
  
  color: white; */
  border: 3px solid #9354FF;
    border-radius: 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    white-space: normal;
    color: #fafafa;

}
#bring:hover{
  color: #483ab2;
  background-color: white;
}
#pen{
  font-family: "Nunito Sans" , sans-serif;
  font-size:29px;
  font-weight: 100;
}
#gun{
  background-color:black;
}
#lg{
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  width: 30%;
}
#hub{
  font-family: "Nunito Sans" , sans-serif;
  font-size:50px;
  color:yellowgreen;

}
#rose{
  font-family:'Nunito Sans" , sans-serif';
  font-size:20px;
  color: yellowgreen;
}
#or{
  border: 3px solid #9354FF;
    border-radius: 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    white-space: normal;
   color: #fff;
}
#or:hover{
  color: #483ab2;
  background-color: #fff;
}
#fit{
  background-color: green;
  transition: transform .2s; /* Animation */

  margin: 0 auto;
}
#fit:hover{
  /* transform: scale(.5); */
/* -ms-zoom-animation: default; */
 transform: scale(.5);

}

